.main{ 
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;

}
.main .nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;

}
.main .nav img{ 
    width: 40px;
    border-radius: 50%;

}
.main-container{ 
    max-width: 900px;
    margin: auto;

}

.main .greet{ 
    margin: 50px 0px;
    margin: auto;
    color: #585858;
    font-weight: 500;
     font-size: 56px;
    padding: 20px;
}
.main .greet span {
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent ;
}
.main .cards{ 
    display: contents;
    margin: 30px;
    grid-template-columns: repeat(auto-fill,minmax(180px,fr));
    gap: 35px;
    padding: 50px;

}
.main .card{ 
    margin: 10px;
    height: 90px;
    padding: 35px;
    background-color: #ceb9b9;
    background-position: #548dd3;
    border-radius: 20px;
    position: relative;
    cursor: pointer;

}
.main .card img { 
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: rgb(245, 236, 236);
    border-radius: 20px;
    bottom: 10px;
    bottom: 10px;
    right: 10px;

}
.main .card p{ 
    color: #585858;
    font-size: 20px;
    font-weight: 20px;
    font-style: inherit;
}
.main.card:hover{ 
    background-color: #0f0201;
    color: rgba(197, 48, 48, 0.452);

}
.main-bottom { 
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #c2cfe0;
    padding: 10px 20px;
    border-radius: 50px;
    
    margin-left: auto;
    width: 100rem;
    
}
.search-box img{ 
    width: 24px;
    cursor: pointer;   
}


.search-box input{ 
    border: solid 2px black;
    border-radius: 50px;
    background:transparent;
    flex: 1;
      width: 22px;
    outline: none;
    padding: 10px;
  font-size: 18px;
 
}
.search-box div{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.main-bottom{ 
    align-items: center;
    justify-content: center;
}
.bottom-info{ 
    
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25rem;
}
.result { 
    padding: 0px 4px ;
    max-height: 20vh;
    overflow-y: scroll;

}

.result::-webkit-scrollbar{ 
    display: none;
}

.result-title{ 
    margin: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.result img { 
    width: 40px;
    border-radius: 50%;
}

.result-data{ 
    display: flex;

}
.oader { 
    width: 1005;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr 
{ 
    border-radius: 4px;
    border: none;
    background-color: white;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    
}
@keyframes loader { 
    0%{ 
        background-position: -800px 0px;
    }
    100% { 
        background-position: 800px 0px;
    }
}


.result-data p{ 
    font-size: 70px;
    font-weight: 300;
    line-height:56px ;
}